<div *ngIf="loading" class="ui loader visible"></div>
<div class="container-fluid ma">
    <div class="row" fxLayout="row" fxLayoutGap="4px" fxLayoutWrap fxLayoutAlign="center">
        <app-star fxFlex="18%" *ngFor="let star of starsPerPage" [star]="star"></app-star>
    </div>
    <div class="row" fxLayout="row" fxLayoutGap="4px" fxLayoutWrap fxLayoutAlign="center">
        <div class="container ui two bottom attached buttons ma" *ngIf="!loading" fxFlex="60%" fxLayoutAlign="center">
            <button class="negative ui button"
                    (click)="previousStars()">
                    Previous</button>
            <button class="positive ui button"
                    (click)="nextStars()">
                    Next</button>
          </div>
    </div>
</div>
