<div  fxFlex="2%" class="main">
    <a href="http://www.pornhub.com?utm_source=paid&utm_medium=hubtraffic&utm_campaign=hubtraffic_mindlo" id="rt_aff_banner_511" border="0" target="_blank"><img alt="Free porn videos" border="0" src="https://www.hubtraffic.com/_affiliate/banners/1543859987.png"/></a></div>
<div class="row text-center main-div" fxLayout="row" fxLayoutAlign="center">
    <a href="http://www.pornhub.com?utm_source=paid&utm_medium=hubtraffic&utm_campaign=hubtraffic_mindlo" id="rt_aff_banner_519" border="0" target="_blank"><img alt="Free porn videos" border="0" src="https://www.hubtraffic.com/_affiliate/banners/1543860106.png"/></a>
  <div class="ui card" fxFlex="50%">
    <div class="text-center header">
      <p>{{video.title}}</p>
    </div>
    <div *ngIf="video != null"
       class="embed-responsive embed-responsive-16by9 card-body">
    <div class="image fixed">
        <iframe class="" [src]="url"
        frameborder="1"
        width="780"
        height="420"
        allowfullscreen class="embed-responsive-item"></iframe>
    </div>

   </div>

    <mat-card-footer class="extra content" fxLayoutGap="2px">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Tags
              </mat-panel-title>
              <mat-panel-description>
                Tap panel to see video tags
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- <p>This is the primary content of the panel.</p> -->
            <div class="video-footer extra content" *ngIf="video.tags != null">
              <div fxFlex="25%" fxLayoutGap="2px" *ngFor="let tag of video.tags">
                <p class="card-body alert-primary">{{tag.tag_name}}</p>
              </div>
            </div>

          </mat-expansion-panel>

        </mat-card-footer>
      </div>
      <div fxFlex="90%"> <a href="http://www.pornhub.com/transgender?o=mv&t=m&?utm_source=paid&utm_medium=hubtraffic&utm_campaign=hubtraffic_mindlo" id="rt_aff_banner_570" border="0" target="_blank"><img alt="Free porn videos" border="0" src="https://www.hubtraffic.com/_affiliate/banners/1545165953.png"/></a></div>
</div>



